# Notebook to test CausalData functionality

In [1]:
from causalkit.data import generate_rct_data, CausalData
from causalkit.data import CausalData

In [2]:
df = generate_rct_data()

In [3]:
causal_data = CausalData(df=df,
                         target='target', cofounders=['age', 'platform_Android'],
                         treatment='treatment')

In [4]:
causal_data

CausalData(df=(20000, 4), treatment='treatment')target='target', cofounders=['age', 'platform_Android'],

In [5]:
causal_data.cofounders

       age  platform_Android
0       20                 0
1       44                 0
2       44                 0
3       31                 0
4       39                 0
...    ...               ...
19995   18                 0
19996   27                 0
19997   38                 1
19998   45                 0
19999   36                 1

[20000 rows x 2 columns]

In [6]:
df_test = causal_data.get_df()

In [7]:
df == df_test

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [24]:
df.columns

Index(['user_id', 'treatment', 'target', 'age', 'cnt_trans',
       'platform_Android', 'platform_iOS', 'invited_friend'],
      dtype='object')

In [25]:
df_test.columns

Index(['target', 'age', 'platform_Android', 'treatment'], dtype='object')

In [26]:
causal_data.df

       target  treatment  age  platform_Android
0           0          1   20                 0
1           0          1   44                 0
2           0          1   44                 0
3           0          1   31                 0
4           0          1   39                 0
...       ...        ...  ...               ...
19995       0          0   18                 0
19996       0          0   27                 0
19997       0          0   38                 1
19998       0          0   45                 0
19999       0          0   36                 1

[20000 rows x 4 columns]

In [27]:
causal_data.get_df(include_target=True, include_treatment=True)

       target  age  platform_Android  treatment
0           0   20                 0          1
1           0   44                 0          1
2           0   44                 0          1
3           0   31                 0          1
4           0   39                 0          1
...       ...  ...               ...        ...
19995       0   18                 0          0
19996       0   27                 0          0
19997       0   38                 1          0
19998       0   45                 0          0
19999       0   36                 1          0

[20000 rows x 4 columns]