In [4]:
import causalkit
from causalkit.data import generate_ab_test_data

In [5]:
df = generate_ab_test_data()

In [6]:
df.head()

   user_id group  conversion  age  gender   device  income
0        1     A           0   42  female   mobile   67125
1        2     A           0   23    male  desktop   28065
2        3     A           0   33    male  desktop   40325
3        4     A           0   32  female   mobile   56352
4        5     A           0   49  female   mobile   63267

In [1]:
from causalkit.data.generators import generate_rct_data

df = generate_rct_data(target_type="nonnormal", random_state=42)

   user_id group    target  age  cnt_trans  platform_Android  platform_iOS  \
0        0     A  2.091817   33          9                 1             0
1        1     A  2.835346   33         14                 1             0
2        2     A  1.837216   58          3                 0             1
3        3     A  1.645070   45          6                 1             0
4        4     A  3.079255   47          7                 1             0

   invited_friend
0               0
1               0
2               0
3               0
4               0

In [2]:
df.head()

,user_id,group,target,age,cnt_trans,platform_Android,platform_iOS,invited_friend
0,0,A,2.091817,33,9,1,0,0
1,1,A,2.835346,33,14,1,0,0
2,2,A,1.837216,58,3,0,1,0
3,3,A,1.645070,45,6,1,0,0
4,4,A,3.079255,47,7,1,0,0

In [1]:
import causalkit
from causalkit.data import generate_rct_data

In [3]:
df = generate_rct_data()

In [4]:
df.head()

,user_id,treatment,target,age,cnt_trans,platform_Android,platform_iOS,invited_friend
0,bf5aaf58-db6a-4e0d-9ad3-73fbcad0e2ee,1,0,20,1,0,1,0
1,f4bb3e6c-4f6c-40af-8aa3-048358b179a3,1,0,44,0,0,1,0
2,dc28b35b-a914-4ea8-90d7-77802fe62fa9,1,0,44,0,0,1,0
3,1ef8752f-ed9f-4b86-8c62-93e4cc13ddbb,1,0,31,2,0,1,0
4,6d650a77-689c-422e-ba12-87d5b3965c81,1,0,39,2,0,1,0