In [4]:
import causalkit
from causalkit.data import generate_ab_test_data

In [5]:
df = generate_ab_test_data()

In [6]:
df.head()

   user_id group  conversion  age  gender   device  income
0        1     A           0   42  female   mobile   67125
1        2     A           0   23    male  desktop   28065
2        3     A           0   33    male  desktop   40325
3        4     A           0   32  female   mobile   56352
4        5     A           0   49  female   mobile   63267